@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body, html {
    min-height: 100vh;
    position: relative;
    background-color: #f0f0f0;
    height: 100%;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    padding-top: 1rem;
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.wrapper {
    position: relative;
    z-index: 1;
}

.nav-link:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 6rem;
}

.list {
    background-color: #dfe3ee;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/*  Navigation Bar CSS adapted from Coding Nepal - www.codingnepalweb.com */

.wrapper {
    background: #171c24;
    position: fixed;
    width: 100%;
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 80px;
    display: flex;
}

.content .company-logo a {
    color: #f0f0f0;
    font-size: 2rem;
    font-weight: 600;
}

.content .links li {
    list-style: none;
    line-height: 70px;
}

.content .links li a,
.content .links li label {
    color: #f0f0f0;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links .sub-menu {
    font-size: 18px;
}

.content .links li label {
    display: none;
}

.content .links li a:hover,
.content .links li label:hover {
    background: #323c4e;
}

.wrapper .menu-icon {
    color: #f0f0f0;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper input[type="checkbox"] {
    display: none;
}

/* Dropdown Menu code start */
.content .links ul {
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px !important;
}

/* Dropdown sub menu */

.content .links ul ul {
    position: absolute;
    top: 0;
    right: -175px;
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1100px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content .links {
        margin-left: 30px;
    }

    .content .links li a {
        padding: 8px 13px;
    }

    .wrapper .menu-icon {
        display: block;
    }

    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }

    nav #show-menu:checked~.content .links {
        left: 0%;
    }

    .content .links li {
        margin: 15px 20px;
    }

    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }

    .content .links li a.desktop-link {
        display: none;
    }

    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }

    .content .links #show-about-us:checked~ul,
    .content .links #show-more:checked~ul,
    .content .links #show-investing:checked~ul,
    .content .links #show-letters:checked~ul,
    .content .links #show-special:checked~ul {
        max-height: 100vh;
    }

    .content .links ul li {
        margin: 7px 20px;
    }

    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
    }
}

@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 0 10px;
    }

}

/* Table */

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-width: 1000px;
    width: 100%;
}

.table thead tr {
    background-color: #D5D2E4;
    color: #000000;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #D5D2E4;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.report-link {
    text-decoration: none;
    opacity: 70%;
}

.report-link:hover {
    opacity: 100%;
    transition: 0.3s;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: #14181f;
    color: #f0f0f0;
    height: 4rem;
    text-align: center;
    padding-top: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .content .company-logo a {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2rem;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .footer {
        height: 3rem;
        font-size: 0.8rem;
    }

}

.padding {
    padding-top: 7rem;
}